@import url(http://fonts.googleapis.com/css?family=Pontano+Sans|Gudea);


html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    -ms-content-zooming: none;
    font-size: .85em;
    font-family: "Gudea", "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    color: white;
    background-color: #0E0E0E;
    background-image: url('bg.png');
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
}

.action {
    cursor: pointer;
    width: 32px;
    height: 32px;
    -moz-transition: opacity 0.1s linear;
    -webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

    .action:hover {
        opacity: 0.65;
    }

.big {
    width: 40px;
    height: 40px;
}

#thumbnails {
}

    #thumbnails img {
        height: 128px;
        -moz-transition: opacity 0.2s linear;
        -webkit-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
    }

        #thumbnails img:hover {
            opacity: 0.5;
        }



.button {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: rgba(234, 234, 234, 0.1);
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1.1em;
    background-image: linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.3) 50%, rgba(0,0,0, 0.1) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.3) 50%, rgba(0,0,0, 0.1) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.3) 50%, rgba(0,0,0, 0.1) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.3) 50%, rgba(0,0,0, 0.1) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.3) 50%, rgba(0,0,0, 0.1) 100%);
}

header, footer, nav, section {
    display: block;
}

header {
    margin: 0px;
}

    header div {
        float: right;
        font-size: 1.1em;
    }



#AppContainer {
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

#header {
    width: 100%;
}

#content {
    width: 100%;
}

.stretch {
}

#content #left-sidebar {
    width: 200px;
    overflow: auto;
    float: left;
}

/*
#content #right-sidebar {
    width: 200px;
    background: green;
}*/

#content #main-content {
    overflow: auto;
    width: 100%;
    float: left;
}

.margin {
    margin: 10px;
}

footer {
    width: 100%;
    height: 22px;
    clear: both;
    background-color: rgba(69, 69, 69, 0.44);
}

    footer div {
        margin-left: 5px;
        margin-top: 1px;
    }

.auth-box {
    text-align: right;
}

.auth-box, #profileInfo {
    padding: 10px 15px 0px 15px;
    height: 37px;
}

#profileInfo {
    border-radius: 10px;
    background-color: gray;
    background-image: url('button_bg_2.png');
    background-size: contain;
}


#auth-loginlink {
    cursor: pointer;
}

.anonymous {
    display: none;
}

.authenticated {
    display: none;
}

.initializing {
}

/* Displays whenever any AJAX call is executed */
.loading {
    position: absolute;
    left: 255px;
    top: 26px;
    display: none;
}

img {
    border: 0;
}

#logo img {
    margin: 10px 0 0 10px;
    -moz-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

    #logo img:hover {
        opacity: 0.85;
    }

#auth-status {
    margin: 10px 10px 0 0;
}

a {
    color: white;
    -moz-transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

    a:visited {
        color: #c4c4c4;
    }

    a:hover {
        color: #797979;
    }


.content-box {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-size: 1.6em;
    text-align: center;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    font-size: 1.2em;
    text-align: left;
}

.button {
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

    .button:hover {
        padding: 30px;
        background-color: gray;
        border-radius: 10px;
        margin-bottom: 5px;
        cursor: pointer;
        background-color: rgba(234, 234, 234, 0.2);
    }

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    font-size: 1.2em;
    padding: 7px 12px 7px 12px;
}

.settings {
    width: 100%;
    display: none;
    overflow: auto;
    background-color: rgba(61, 61, 61, 0.7);
}

    .settings > div {
        margin: 20px;
        min-width: 300px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
