@import url(http://fonts.googleapis.com/css?family=Pontano+Sans|Gudea);

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    -ms-content-zooming: none;
    font-size: .85em;
    font-family: "Gudea", "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    color: white;
    background-color: #0E0E0E;
    background-image: url('bg.png');
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

/*p {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}*/

#listOptions {
    position: absolute;
    color: black;
    display: none;
}

    #listOptions .balloon {
        padding-left: 20px;
        margin: 0;
        padding: 0;
        height: 20px;
    }

        #listOptions .balloon img {
            margin: 0;
            padding: 0;
            float: right;
        }

    #listOptions .options {
        background-color: white;
        padding: 10px;
        border-radius: 7px;
    }

.action {
    cursor: pointer;
    width: 32px;
    height: 32px;
    -moz-transition: opacity 0.1s linear;
    -webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

    .action:hover {
        opacity: 0.65;
    }

.big {
    width: 40px;
    height: 40px;
}

.huge {
    width: 48px;
    height: 48px;
}

.thumbnails {
}

    .thumbnails div img {
        height: 128px;
        -moz-transition: opacity 0.2s linear;
        -webkit-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
        /*border: 5px solid silver;*/
    }

        .thumbnails div img:hover {
            opacity: 0.5;
        }


    .thumbnails > span {
        padding: 0;
        margin: 0;
        display: inline-block;
        background-image: url(/Content/icons/checked2.png);
        z-index: 10000;
    }


        .thumbnails > span:after {
            content: url(/Content/icons/checked2.png);
            position: relative;
            pointer-events: none;
            z-index: 6000;
        }


div.wrapper {
    float: left; /* important */
    position: relative; /* important(so we can absolutely position the description div */
    margin-right: 3px;
    border: 4px solid transparent;
}


input[type='search'] {
    color: white;
     background-color: rgba(52, 52, 52, 0.42);
}

::-webkit-input-placeholder {
    color: silver !important;
    font-style: italic;
}

:-moz-placeholder {
    color: silver !important;
    font-style: italic;
}

:-ms-input-placeholder {
    color: silver !important;
    font-style: italic;
}


div.selection {
    border: 4px solid white;
    border-top-right-radius: 8px;
}

    div.selection:before {
        content: url(/Content/icons/checked2.png);
        float: right;
        right: 3px;
        top: 2px;
        position: absolute;
        display: inline;
    }

    div.selection img {
        opacity: 0.5;
    }


div.description {
    display: none;
    position: absolute; /* absolute position (so we can position it where we want)*/
    bottom: 0px; /* position will be on bottom */
    left: 0px;
    width: 100%;
    /* styling bellow */
    background-color: black;
    font-size: 15px;
    color: white;
    opacity: 0.6; /* transparency */
    filter: alpha(opacity=60); /* IE transparency */
    pointer-events: none;
}

    div.description:hover {
    }

p.description_content {
    padding: 10px;
    margin: 0px;
}



/*.results img {
    border: 3px solid transparent;
    margin: 0;
    padding: 0;
}*/

header, footer, nav, section {
    display: block;
}

header {
    margin: 0px;
}

    header div {
        float: right;
        font-size: 1.1em;
    }


#AppContainer {
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

#header {
    width: 100%;
    clear: both;
}

#content {
    width: 100%;
}

.stretch {
}

.stretchFull {
}

#content #left-sidebar {
    width: 150px;
    overflow: auto;
    float: left;
}

#content #friends {
    width: 150px;
    overflow: hidden;
    float: right;
}

#friendlist, #friendfeed {
    width: 150px;
    font-size: 0.8em;
    overflow: auto;
}

#friendlist {
    border-bottom: 2px solid silver;
    height: 100px;
}

    #friendlist div img, #friendfeed div img {
        vertical-align: middle;
        width: 24px;
        height: 24px;
    }


/*
#content #right-sidebar {
    width: 200px;
    background: green;
}*/

#content #main-content {
    overflow: auto;
    width: 100%;
    float: left;
}

.margin {
    margin: 10px;
}

footer {
    width: 100%;
    height: 22px;
    height: 0px;
    clear: both;
    background-color: rgba(69, 69, 69, 0.44);
}

    footer div {
        margin-left: 5px;
        margin-top: 1px;
    }

.auth-box {
    text-align: right;
}

.auth-box, #profileInfo {
    padding: 10px 15px 0px 15px;
    height: 37px;
}

#profileInfo {
    border-radius: 10px;
    background-color: gray;
    background-image: url('button_bg_2.png');
    background-size: contain;
}


#auth-loginlink {
    cursor: pointer;
}

.anonymous {
    display: none;
}

.authenticated {
    display: none;
}

.initializing {
}

/* Displays whenever any AJAX call is executed */
.loading {
    position: absolute;
    left: 255px;
    top: 26px;
    display: none;
}

img {
    border: 0;
}

#logo img {
    margin: 10px 0 0 10px;
    -moz-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

    #logo img:hover {
        opacity: 0.85;
    }

#auth-status {
    margin: 10px 10px 0 0;
}

a {
    color: white;
    -moz-transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

    a:visited {
        color: #c4c4c4;
    }

    a:hover {
        color: #797979;
    }


.content-box {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    font-size: 1.6em;
    text-align: center;
}

    .content-box img {
        float: left;
        margin-right: 20px;
    }

.content {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    font-size: 1.2em;
    text-align: left;
}

.button {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: rgba(234, 234, 234, 0.1);
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1.1em;
    background-image: linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.3) 50%, rgba(0,0,0, 0.1) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.3) 50%, rgba(0,0,0, 0.1) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.3) 50%, rgba(0,0,0, 0.1) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.3) 50%, rgba(0,0,0, 0.1) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.3) 50%, rgba(0,0,0, 0.1) 100%);
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

    .button:hover {
        background-color: gray;
        border-radius: 10px;
        margin-bottom: 5px;
        cursor: pointer;
        background-color: rgba(234, 234, 234, 0.2);
    }

/*.catalogsList:last-child {
    margin-top: 20px;
    background-color: #275477;
}

.catalogsList:last-child:hover {
    background-color: #4e7b9e;
}*/

.selected {
    font-weight: bold;
    background-color: rgba(194, 194, 194, 0.73);
}

    .selected:hover {
        font-weight: bold;
        background-color: rgba(194, 194, 194, 0.73);
    }

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    font-size: 1.2em;
    padding: 7px 12px 7px 12px;
}

.settings {
    width: 100%;
    display: none;
    overflow: auto;
    background-color: rgba(61, 61, 61, 0.7);
}

    .settings > div {
        margin: 20px;
        min-width: 300px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

.search {
    width: 100%;
    display: none;
    background-color: rgba(61, 61, 61, 0.7);
    
}

.backButton {
    
  float: left;
  margin-left: 20px;
  margin-top: 20px;
    
}

    #searchContent {
        margin-left: 90px;
        overflow: auto;
        
        /*min-width: 450px;
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;*/
    }

    #searchTasks {
        background-color: black;
        height: 100px;
    }

        #searchTasks div div {
            text-align: center;
    }

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*a[href $='.pdf']:after {
   content:url(gear.png);
}*/

.picked {
    border: 3px solid white !important;
    opacity: 0.4;
}
