@{
    ViewBag.Title = "User Privacy Policy";
    Layout = "~/Views/Shared/_Layout_Clean.cshtml";
    
}

<h1>InTheBoks User Privacy Policy</h1>

<p>Boks User Privacy Policy covers the collection, use and disclosure of personal information that is collected by InTheBoks.com as you use the service.</p>
<p>Our goal is to store the minimum amount of information that is required to 
    deliver the service you expect. We will never require you to deliver or expose 
    any information unless absolutely required.</p>
    <p>The information in this Privacy Policy may change from time to time.</p>
<h2>What information is collected</h2>
<p>Upon registration, we will collect your email address which will be used for your 
    unique identification on the service. In combination with the email address, we 
    need your personal password. Your personal password is stored in an 
    non-reversible hash (through encryption), which means you can be safely assured 
    that your password is stored securely and in a manner that makes it impossible 
    to reverse into clear-text.</p>
<p>All computer systems can be hacked, that means if our system is currently under 
    the control of a third party (e.g. hacker), and there is a possibility of your 
    personal details being exposed to that third party. Under normal operations, 
    this should not be possible.</p>
<p>We additionally collect other personal details, if you supply them on your 
    profile. This will improve your experience with our service, but is never a 
    requirement.</p>
    <p>Your IP address is part of all your requests to the service and will be logged 
        for debugging and trouble-shooting of the service. We also reserve the right to 
        store information about the IP address for security measures, to protect the 
        service against exploitations and hacking.</p>
    <p>The IP address is additionally stored temporarily for statistics. The service 
        utilizes Google Analytics for traffic analysis. None of this (IP tracking for 
        statistics) information is person-identifiable-information.</p>
<p>All other information that you supply while using the service is stored securely 
    in our database. This information includes the following and other potential 
    information: Catalogs, Items, Preferences and more. Your catalogs could be 
    &quot;Books&quot;, &quot;Movies&quot;. Your items could be books, movies and more, like &quot;Fight 
    Club&quot;, &quot;Titanic&quot;.</p>
<p>In the future we might support custom Items, with custom illustrations that you 
    can upload. These images will be stored on our system as you upload them to 
    identify your Items.</p>
<h2>How is the information used</h2>
<p>All the information you supply to the service is primarily used to fulfill the 
    functionality of the service. We will never expose your information to any third 
    parties, unless we have acquired explicit permission to do so.</p>
<p>We reserve the right to search, look at, analyze and otherwise use the 
    information you supply to the service, for the purpose of optimizing the 
    service. We reserve the right to delete information that is in violation of 
    local laws (&quot;Norwegian&quot;) from where the service is created and the local laws 
    (&quot;USA&quot; and &quot;Ireland&quot;) where the service is hosted and information is stored.</p>
<p>Information supplied by the users, not deemed appropriately, can be deleted with 
    an explicit warning sent to the user, within 48 hours of warning given with 
    email notification.</p>
<h2>How your information is protected</h2>
<p>Your information is stored in a password protected database. Your password is 
    stored as a non-reversible hash (through encryption), meaning it&#39;s virtually 
    impossible to reverse engineer your password, even in the event of a breakin and 
    stolen database.</p>
<p>Most communication with InTheBoks.com happens through HTTPS, using an SSL 
    certificate. This means the communication between your computer and the server 
    that runs the service is encrypted and not visible to any third parties. Certain 
    pages, like this information page, is accessible over HTTP and is not part of 
    the encrypted communication.</p>
    <p>All information is replicated across multiple physical computers in one of the 
        world&#39;s biggest datacenters. Information is always redundant and in case of 
        problem, none of the information should be lost. Problems can always occur and 
        we can give no guaranties that your information will not be lost. We advise all 
        our users to take frequent local backups using the export functionality.</p>
    <h2>what information is stored on your computer</h2>
    <p>When you authenticate with Boks, we stored a temporary or permanent cookie on 
        your computer. This is used to identity you after you logon, this is to avoid 
        sending the username and password in every request.</p>
    <p>Choosing the <i>Keep me signed in</i> option will persist the authentication cookie on 
        your computer for 90 days. If you access Boks at any time after 45 days, this 
        cookie will be renewed for another 90 days.</p>
    <p>Catalogs, items and other data is stored in a local cache on your computer in the 
        Isolated Storage accessible to Silverlight. All this data can be deleted on the 
        Application Storage tab in the Silverlight Configuration. This data is stored on 
        your local machine for faster loading times and reduction of network traffic.</p>
<h2>Privacy Questions</h2>
<p>If you have any questions regarding this policy or privacy of the service, please 
    contact us by email to boks-at-intheboks.com.</p>

    <p>Boks, InTheBoks, InTheBoks.com is a product of a personal individual and not a corporation. The individual responsible for this service is 
        <a href="http://sondreb.com/">Sondre Bjellås</a>.</p>
    <p><em>This User Privacy Policy is written by an individual with no background in 
        law, it&#39;s primary purpose is to inform you about privacy practices and how we 
        ensure your privacy to the best of our ability.</em></p>

<p>
    <em>Last updated December 7, 2009<br />
© 2009 InTheBoks.com. All rights reserved.
</em>
</p>

