@using InTheBoks.Resources

@{
    ViewBag.Title = "InTheBoks.com - Organize Your Stuff";
}
<div class="thumbnails">

    <div data-bind="foreach: Items"><span><img data-bind="attr: { src: ImageUrl, title: Title }, click: $parent.SelectItem" /></span></div>
    
    <script>
        //function ShowDescription(source)
        //{
        //    console.log(source);
        //    $(source).children(".description").fadeIn(300);
        //}

        //function HideDescription(source) {
        //    console.log(source);
        //    $(source).children(".description").fadeOut(100);
        //}
    </script>

    <div class="wrapper">  
        <img src="../../Content/albums/41A-jqYmLiL.jpg" />  
        <div class="description">  
            <p class="description_content"><strong>The Matrix</strong> (2000)</p>  
        </div>
    </div>  

    <div class="wrapper">   
        <img src="../../Content/albums/41A-jqYmLiL.jpg" />  
        <div class="description">  
            <p class="description_content"><strong>The Matrix</strong> (2000) - bla, bla, bla.</p>  
        </div>  
    </div>  

        <div class="wrapper">   
        <img src="../../Content/albums/41A-jqYmLiL.jpg" />  
        <div class="description">  
            <p class="description_content"><strong>The Matrix</strong> (2000) - bla, bla, bla.</p>  
        </div>  
    </div>  

        <div class="wrapper">   
        <img src="../../Content/albums/41A-jqYmLiL.jpg" />  
        <div class="description">  
            <p class="description_content"><strong>The Matrix</strong> (2000) - bla, bla, bla.</p>  
        </div>  
    </div>  

        <div class="wrapper">   
        <img src="../../Content/albums/41A-jqYmLiL.jpg" />  
        <div class="description">  
            <p class="description_content"><strong>The Matrix</strong> (2000) - bla, bla, bla.</p>  
        </div>  
    </div>  

@*    <span><img src="../../Content/albums/41A-jqYmLiL.jpg" /></span>
    <span><img src="../../Content/albums/516ZF6YQKAL.jpg" /></span><span><img class="selectedImage" src="../../Content/albums/518UVI8xp8L.jpg" /></span>
    <span><img src="../../Content/albums/51BtHBW4gQL.jpg" /></span>
    <span><img src="../../Content/albums/51MP8TKAFVL.jpg" /></span><span><img src="../../Content/albums/51PpJAOkqLL.jpg" /></span><span><img src="../../Content/albums/51SSmALB9nL.jpg" /></span>
    <span><img src="../../Content/albums/51VfE5rU9OL.jpg" /></span>
    <span><img src="../../Content/albums/51vhtc7Lj0L.jpg" /></span>*@
       
</div>
@section scripts
{
<script>

    var mainVM = null;

    function InitializeUserData() {

        if (mainVM == null) {
            mainVM = new mainViewModel();
            ko.applyBindings(mainVM, document.getElementById("AppContainer"));
        }

        mainVM.LoadCatalogs();
    }

</script>

    
}