@using InTheBoks.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title // InTheBoks</title>
    <meta name="description" content="InTheBoks - Organize Your Stuff">
    <meta name="author" content="Sondre Bjellås">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="apple-touch-icon" href="~/Content/intheboks_72.png" />
    <link rel="apple-touch-icon" href="~/Content/intheboks_114.png" sizes="114x114"/>

    <link rel="shortcut icon" href="/favicon.ico" />

    </head>
    <body>

        @RenderBody()

    </body>
</html>
